<!DOCTYPE html>
<html lang="en">
    <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>Restaurant</title>
        </head>
        <body>
            <h1> Let's eat here!</h1>
            <p>Restaurant name: {{ restaurant_name }}</p>
            <p>Address: {{ address }}</p>
            <p>Is it open? {{ status }}</p>
            <p>Rating: {{ rating }} </p>

            <form method="post" action="/restaurants/">
                <button type="submit">Randomize!</button>
            </form>
            <iframe 
                width="750"
                height="450"
                zoom="15"
                style="border:2px solid red"
                loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"
                src="https://www.google.com/maps/embed/v1/place?key={{ static_api }}&q={{ restaurant_name }}"
                allowfullscreen>
            </iframe>
        </body>
</html>